{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Главная - IngMa</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'><link rel="stylesheet" href="{% static 'main/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="cd-header">
		<div class="header-wrapper">
			<div class="logo-wrap">
				<a href="index.html" class="hover-target"><span>Inga</span>&<span>Mari</span></a>
			</div>
			<div class="nav-but-wrap hover-target">
				<div class="menu-icon hover-target">
					<span class="menu-icon__line menu-icon__line-left"></span>
					<span class="menu-icon__line"></span>
					<span class="menu-icon__line menu-icon__line-right"></span>
				</div>					
			</div>					
		</div>				
	</header>

	<div class="nav">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item"><a href="feet.html" class="hover-target">Стопы</a></li>
				<li class="nav__list-item"><a href="massage.html" class="hover-target">МФР</a></li>
				<li class="nav__list-item"><a href="breath.html" class="hover-target">Дыхание</a></li>
				<li class="nav__list-item"><a href="taz.html" class="hover-target">Таз</a></li>
				<li class="nav__list-item"><a href="tazbott.html" class="hover-target">Тазовое дно</a></li>
				<li class="nav__list-item"><a href="butt.html" class="hover-target">Ягодицы</a></li>
				<li class="nav__list-item"><a href="spine.html" class="hover-target">Силовые на <br>спину</a></li>
				<li class="nav__list-item"><a href="posture.html" class="hover-target">Осанка</a></li>
				<li class="nav__list-item"><a href="exercise.html" class="hover-target">Зарядка</a></li>
				<li class="nav__list-item"><a href="fulltrain.html" class="hover-target">Полные тренировки</a></li>
				<li class="nav__list-item"><a href="pill.html" class="hover-target">Волшебная таблетка</a></li>
			</ul>
			<div class="switch-wraper hover-target">
				<div id="switch" class="hover-target">
					<div id="circle"></div>
				</div>
			  </div>
		</div>
	</div>		

	<div class="container">
		<div class="content">
		<div class="wrapper">
			<div class="box zoom-in">
				<a href="feet.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?feet" href="feet.html" alt="Стопы"></a>
			  <h2>Стопы</h2>
			  <p><b>2</b> Урока</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="massage.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?massage" alt="МФР"></a>
			  <h2>МФР</h2>
			  <p><b>2</b> Урока</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="breath.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?medidate" alt="Дыхание"></a>
			  <h2>Дыхание</h2>
			  <p><b>12</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="taz.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?pelvis" alt="Таз"></a>
			  <h2>Таз</h2>
			  <p><b>10</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="tazbott.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?pelvis" alt="Тазовое дно"></a>
			  <h2>Тазовое дно</h2>
			  <p><b>10</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="butt.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?buttocks" alt="Ягодицы"></a>
			  <h2>Ягодицы</h2>
			  <p><b>7</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="spine.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?back,training" alt="Силовые на спину"></a>
			  <h2>Силовые на спину</h2>
			  <p><b>7</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="posture.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?posture" alt="Postcards From Italy"></a>
			  <h2>Осанка</h2>
			  <p><b>8</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="exercise.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?exercise" alt="Зарядка"></a>
			  <h2>Зарядка</h2>
			  <p><b>7</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="fulltrain.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?full,training" alt="Полные тренировки"></a>
			  <h2>Полные тренировки</h2>
			  <p><b>9</b> Уроков</p>
			</div>
		  </div>
		  <div class="wrapper">
			<div class="box zoom-in">
				<a href="pill.html" class="hover-target"><img src="https://source.unsplash.com/900x900/?pill" alt="Волшебная таблетка"></a>
			  <h2>Волшебная таблетка</h2>
			  <p><b>9</b> Уроков</p>
			</div>
		  </div>
		</div>
	</div>
	
	<div class='cursor' id="cursor"></div>
	<div class='cursor2' id="cursor2"></div>
	<div class='cursor3' id="cursor3"></div>

<!-- Link to page
================================================== -->

<a href="https://t.me/deaddispatcher" class="link-to-portfolio hover-target" target=”_blank”></a>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="{% static 'main/script.js' %}"></script>

</body>
</html>